body {
  overflow-y: auto;
}
.politica {
  padding: 30px;
  padding-left: 50px;
}
.politica h1 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding: 30px;
  text-align: center;
}
.politica p {
  padding: 10px;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.politica h3 {
  padding: 10px;
}
.politica p span {
  color: rgb(119, 47, 167);
  font-size: 16px;
  font-weight: 600;
}
.politica ul li {
  font-family: sans-serif;
  padding: 5px;
}
