body {
  overflow-y: auto;
}

.perform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: black;
}
.box {
  position: relative;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.5s;
  background: rgb(195, 232, 253);
  color: white;
}
@media only screen and (max-width: 500) {
  .box:hover, .box:active {
    height: 400px;
  };
} 

@media only screen and (min-width: 501px) {
  .box:hover, .box:active {
    height: 500px;
  }
} 
.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
}
.box .imgBx img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}
.box:hover .imgBx img {
  opacity: 1;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: white;
  z-index: 1;
}
.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgb(245, 241, 252);
  z-index: 2;
  filter: blur(10px);
}
.box:before,
.box:after {
  background: linear-gradient(
    235deg,
    rgb(154, 236, 241),
    rgb(173, 177, 212),
    rgb(77, 39, 250)
  );
}
.box:nth-child(2):before,
.box:nth-child(2):after {
  background: linear-gradient(
    235deg,
    rgb(186, 90, 250),
    rgb(155, 212, 202),
    rgb(170, 227, 241)
  );
}

.box .content {
  position: absolute;
  bottom: 0;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
}
.box:hover .content {
  opacity: 1;
}
.box .content h2 {
  font-size: 30px;
  color: black;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 5px;
}
